<div class="page-container">
  <div class="sidebar-wrapper" [style.width.px]="isOpen ? 250 : 35">
    <div class="sidenav" [class.closed]="!isOpen">
  <div class="sidenav-header">
    <button class="toggle-btn" (click)="toggleSidenav()" aria-label="Toggle Navigation">
      <i class="fa fa-bars"></i>
    </button>
    <span class="logo" *ngIf="isOpen">MyApp</span>
  </div>
  <ul class="sidenav-list" *ngIf="isOpen">
    <li class="sidenav-item">
  <a routerLink="/autocomplete" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Autocomplete</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/check" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Check</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/datepicker" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Datepicker</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/expansion" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Expansion Panel</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/progressbar" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Progress Bar</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/radio" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Radio</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/select" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Select</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/sidenav" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Sidenav</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/slide" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Slide</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/slider" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Slider</span>
      </a>
    </li>
    <li class="sidenav-item">
  <a routerLink="/spinner" routerLinkActive="active" class="sidenav-link">
        <span class="link-text">Spinner</span>
      </a>
    </li>
  </ul>
  <div class="sidenav-footer" *ngIf="isOpen">
    <p>Logged in as userexample.com</p>
  </div>
</div>
  </div>
  <div class="content-wrapper">
    <!-- Page content goes here -->
     <ng-content></ng-content>
  </div>
</div>